#!/usr/bin/env bash

asdf install python
asdf install poetry

if [[ -d .venv ]]; then
  if ! .venv/bin/python --version | xargs -I {} grep -i {} .tool-versions >/dev/null; then
    rm -rf .venv
  fi
fi

if [[ ! -d .venv ]]; then
    python -m venv .venv
fi

source .venv/bin/activate